#main {
  #update {
    margin: 0 12px;
  }

  h2 {
    text-align: center;
    font-weight: 700;
    margin-top: 12px;
  }

  .time {
    text-align: end;
    color: #666;
  }
  .content {
    text-indent: 2em;
    font-size: 16px;
    width: 1165px;
  }
}